package templates

templ ChatBox( username string ) {

<div id="chat">
    <h2> CoolChat 😎 </h2>
    <div id="chatbox-wrapper" hx-ext="ws,ws-html-response" ws-connect="ws://localhost:1337/ws" ws-target="#chatbox" hx-on:htmx:ws-after-message="document.querySelector('#form').reset()">
        <div id="chatbox" hx-swap-oob="beforeend">
            // { for m := range(message_history) {
            // <div class="message"> { m.user + ": " + m.message + " - " + m.sent  } </div>
            // }}
        </div>
        <form id="form" hx-trigger="submit" ws-send>
            <input type="text" name="message" autocomplete="off" placeholder="Nothing to say?"></input>
            <input type="submit" value="Send"></input>
        </form>
    </div>
</div>
}