package templates

templ Layout(content templ.Component, hasToken bool) {
<!DOCTYPE html>
<html lang="es">
    @PageHeaders()

    <body hx-history="false" hx-boost="true" hx-push-url="true">

        <a href="#main" class="skip-to-main-content-link">Skip to main content</a>

        <!-- Navigation bar -->

        @NavBar(hasToken)

        <!-- Page content -->

        <div id="main">

            @content

        </div>

    </body>
</html>
}
